APP_SETTINGS=base_api.infrastructure.config.DevelopmentConfig
PORT=33333
GUNICORN_WORKERS=4
GUNICORN_USER=app_user
ENVIRONMENT=development

COOKIE_TOKEN=baseApiToken
COOKIE_USER=baseApiUser
COOKIE_DOMAIN=localhost

SECRET_KEY=change-me
API_TOKEN=change-me
API_TOKEN_HEADER=API-TOKEN

# BASE_API_OPTIONAL: database
DATABASE_URL=postgresql+psycopg2://user:pass@host/dbname
# BASE_API_OPTIONAL: celery
REDIS_URL=redis://localhost:6379/1

APM_SERVICE_NAME=base-api
APM_ENABLED=False
APM_SECRET_TOKEN=APM-SECRET-TOKEN
APM_SERVER_URL=http://0.0.0.0:8200

# BASE_API_OPTIONAL: aws
CLOUD_REGION=us-east-1
SNS_PLATFORM_APPLICATION_ARN=
